<header>
    <nav>
        <div class="logo">
            <img src="https://www.chevrolet.com.ec/content/dam/chevrolet/global/us/english/primary-navigation-icons/chevrolet-logo-v2.png"
                alt="">
        </div>
        <ul>
            <li>Vehículos
                <span class="icon">
                    <fa-icon [icon]="faAngleDown"></fa-icon>
                </span>
            </li>
            <li>Comprar
                <span class="icon">
                    <fa-icon [icon]="faAngleDown"></fa-icon>
                </span>
            </li>
            <li>Concesionarios
                <span class="icon">
                    <fa-icon [icon]="faAngleDown"></fa-icon>
                </span>
            </li>
            <li>Posventa
                <span class="icon">
                    <fa-icon [icon]="faAngleDown"></fa-icon>
                </span>
            </li>
        </ul>
    </nav>
    <div>
        <div class="search">
            <span>
                <span class="icon-search">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </span>
            </span>
            <span class="buscar">Buscar</span>
            <span>
                <span class="icon">
                    <fa-icon [icon]="faAngleDown"></fa-icon>
                </span>
            </span>
        </div>
    </div>
</header>